{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["mmontes11-react"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
